* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1001px){
    .mmm{
    margin: 3% 0 3% 10%;
    font-size: 300%;
}
.icon{
    color:gray;
    
    width: 50%;
}
.popit{
    display: flex;
    flex-direction: column;
}
.novbot{
    width: 5vw;
    height: 11vh;
    margin-bottom: 2vh;
    border: rgba(0, 0, 0, 0);
    background: rgb(36, 36, 36);
    cursor: pointer;
    margin-right: 3vw;
    border-radius: 3px;
    

}
.hei{
    height: 92vh;
}
.back{
    background: white;
    height: 70vh;
    width: 100%;
    
}
.rar{
    height: 45vh;
    padding-bottom: 5%;
}
.flexis{
    display:flex;
}
.tapo{
    margin: 0 7% 0 7%;
    justify-content:space-between;
}

}
  



@media (max-width: 1000px){
    .mmm{
    margin:auto 0 auto 5%;
    font-size: 230%;
}
.icon{
    color:gray;
    margin-left: 10%;
    width: 50%;
}
.popit{
    display: flex;
    flex-direction: row;
}
.jopa{
    flex-direction: column;
}
.novbot{
    width: 7vw;
    height: 5vh;
    margin-bottom: 2vh;
    border: rgba(0, 0, 0, 0);
    background: rgb(36, 36, 36);
    cursor: pointer;
    margin-right: 3vw;
    border-radius: 3px;
    

}
.back{
    background: white;
    height: 70vh;
    width: 100%;
    padding-bottom: 10%;
    
}
.rar{
    height: 45vh;
    padding-bottom: 15%;
}
.flexis{
    display:flex;

}
.tapo{
    margin: 0 3% 0 3%;
    justify-content:space-between;
}
.hei{
    height: 92vh;
}

}




@media (max-width: 600px){
    .mmm{
    margin: auto 0 auto 5%;
    font-size: 150%;
}
.icon{
    color:gray;
    margin-left: 10%;
    width: 50%;
}
.popit{
    display: flex;
    flex-direction: row;
}
.jopa{
    flex-direction: column;
}
.novbot{
    width: 10vw;
    height: 3vh;
    margin-bottom: 2vh;
    border: rgba(0, 0, 0, 0);
    background: rgb(36, 36, 36);
    cursor: pointer;
    margin-right: 3vw;
    border-radius: 3px;
    

}
.back{
    background: white;
    height: 110vh;
    width: 100%;
    padding-bottom: 10%;
}
.rar{
    height: 60vh;
    padding-bottom: 40%;
}
.flexis{
    display:flex;
flex-direction: column;
}
.tapo{
    margin: 0 5% 0 5%;
    justify-content:space-between;
}
.oda{
    flex-direction: column;
}
.hei{
    height: 130vh;
}

}
    

.yyy{
    margin: 1% 0 1% 3%;
    font-size: 100%;
}


.stol{
    flex-direction: column;
}
.box{
    box-sizing: border-box;
}
.flex{
    display:flex;
}
.tab{
    list-style:none;
    margin:2.2vh  0 0 0;

}
.ots{
    margin:0 0 0 3vw;
}
.logo{
    margin:2vh 0 0 0;
    padding:0;
    height: 3.8vh;
    width: 4.6vw;


}
.nel{
    height: 25vh;
    width: 25vw;
    margin-left: 3vw;
}
.perv{
    margin-top: 15vh;
}
.por{
    margin-top: 7vh;
}
.button{
    margin-top:5%;
    height: 10%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    border:  solid white;
    border-radius: 3px;
    cursor: pointer;
   
    
}
.bumm{
    margin-top:5%;
    height: 20%;
    width: 20%;
    background: rgba(0, 0, 0, 0);
    border:  solid white;
    border-radius: 3px;
    cursor: pointer;
   
    
}
.bull{
    margin-top:5%;
    height: 20%;
    width: 15%;
    background: rgba(0, 0, 0, 0);
    border:  solid white;
    border-radius: 3px;
    cursor: pointer;
   
    
}
.hoi{
    margin-top: 6%;
}

}
.bati{
    margin-top:13%;
    height: 20%;
    width: 15%;
    background: rgba(0, 0, 0, 0);
    border:  solid white;
    border-radius: 3px;
    cursor: pointer;
   
    
}
.mil{
    margin-bottom: 5%;
}
body{
    background: rgb(0, 0, 0);
    margin-left: calc(50% - 50vw);
    font-family: "Calibri";
} 
main{
    
    background-position: center;
    margin: 0;
    padding: 0;
}
.raz{
    justify-content:space-between;
    
}
.nah{
    background: rgb(0, 0, 0);
    justify-content:space-between;

}

.mar{
    margin: 0 13vw 0 13vw;

}

header{
    background: rgb(0, 0, 0);
    height: 8vh;
}
.font{
    font-size: 30pt;
}
.medfont{
    font-size: 20pt;
}
a {
    color: #6f6f6f;;
    text-decoration:none;
    
}
.xm{
    height: 30%;
    background:rgb(199, 196, 196);
    width: 100%;
    
    

}
.bola{
    background-image: url(https://media.discordapp.net/attachments/903377231655608390/910130974359191642/unknown.png?width=1440&height=617);
    background-size: cover;
}
a:hover {
  color: tomato;
}
h1{
    color: white;
}
h2{
    color: rgb(255, 255, 255);
}
.fog{
    font-size: 15pt;
}
p{
    color: rgb(255, 255, 255);
}
.tema{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.form {
    
    width: 79%;
    border-radius: 5px 5px 0 0;
    background: white;
    height: 40%;
    padding: 5%;
}
.novbut{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0,0,0, 0);
	color: white;
	font-size: 15pt;
	margin: 0;
    padding-left: 25%;
    

}
.foma {
    
    width: 50%;
    border-radius: 5px 5px 0 0;
    background: white;
    height: 10%;
    padding: 5%;
}
.nola {
    display: inline-block;
    width: 19%;
    text-align: left;
    margin: 8%;
  }

.lololo {
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 8%;
}
.kokoko{
  font: 1em sans-serif;
  width: 90%;
  box-sizing: border-box;
  
  border: 1px solid rgb(255, 255, 255);
  border-bottom-color: rgb(0, 0, 0); 
  border-bottom-style: 3px solid;
}

.kola{
    font: 1em sans-serif;
    width: 30%;
    box-sizing: border-box;
    
    border: 1px solid rgb(255, 255, 255);
    border-bottom-color: rgb(0, 0, 0); 
    border-bottom-style: 3px solid;
  }
.heka{
    margin-bottom: 19vh;
  }
.nowotc{
    margin-top: 15vh;
}
.tcol{
    color: tomato;

}
.batb{
    margin: 0;
    padding: 0;
    border: 0px;
	border-radius: 0 0 5px 5px;
	background-color: rgb(231, 133, 133);
	height:15%;
	color: white;
    width: 79%;
    padding: 0 5% 0 5%;
    
}
.tap{
width: 3vw;
height:2vh;
background:black;
margin-bottom: 1vh;
}



.romi{
    height: 50vh;
    margin: 0 auto;
    width: 100%;
}
.stolb{
    flex-direction:row;
    margin-left: 10vw;
    
}

}
.nnn{
    display:flex;
    flex-direction:row;
}
.pazm{
    width: 10vw;
    height: 10vh;
    margin-left: 20vw;
}
.ram{
    width: 10vw;
    height: 15vh;
}

.cen{
    display: flex;
    flex-direction:column;
    background: white;
}
.stro{
    margin: 0 0 3vh 0;
}
.tac{
    margin: 0 13vw 0 13vw;
    justify-content:space-between;
}
.sherina{
    width: 50vw;
}

.cweti{
    color: rgb(92, 92, 92);
}
.kol{
    width: 7vw;
    height: 5vh;
    margin-bottom: 2vh;
    border: rgba(0, 0, 0, 0);
    background: rgb(231, 133, 133);
    cursor: pointer;
    margin-right: 3vw;
    border-radius: 3px;
    color: white;
}
    
.nado{
    padding-top: 10vh;
    height: 50vh;
}
.ohen{
    width: 45vw;
}
.dla{
    margin-bottom: 3vh;
    color: rgb(100, 97, 97);
}
.nan{
    margin-bottom: 5vh;
    color: #000;
}
h3{
    color:white;
    font-size: 15px;
    

}
.col{
    width: 7vw;
    height: 7vh;
}

    
}
.black{
    color: rgb(32, 32, 32);
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.ata{
    margin-left: 2vw;
}
.awe{
    text-align: center;
    
}
.ave{
    margin-bottom: 3vh;
    color: black;
}
.newbe{
    color: rgb(32, 32, 32);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 15pt;

}
.yoy{
    padding-bottom: 5vh;

}
.tot{
    padding-top: 5vh;
}
.one{
    color: rgb(32, 32, 32);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 10pt;
}
.cec{
    display: flex;
    flex-direction:column;

}
.tit{
   
    margin-left: 25%;
}
.bab{
background: rgb(255, 255, 255);
height: 70vh;
}
.pro{
    border: 1 px solid gray;
}
.byy{
    background: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.moo{
    background: black;
    height: 6vh;
    width: 13vw;
    margin-top: 3px;
    margin-bottom: 3px;
}
.kyy{
    
    text-align: center;

}
.uou{
    color: #000;
}
.mblack{
    color: rgb(32, 32, 32);
    
    text-align: center;
    margin: auto;
}
.dli{
    margin: auto;
}
.goo{
    height: 5vh;
    width: 3vw;
    border-radius: 3px;
}
.boo{
    width: 100%;
   
    background: rgb(221, 221, 221);
    border-radius: 3px;
    margin: 2vh;
    padding: 7%;
}
.voe{
    margin: 0 5% 0 5%;
    
}
.fend{
    margin-left: 3vw;
}
.otto{
    margin-bottom: 3vh;
}
.bomo{
    background-image: url(https://media.discordapp.net/attachments/903377231655608390/910131148888367134/unknown.png?width=881&height=205);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.nood{
    text-align: center;
    margin: auto;
    padding-top: 2vh;
}
.pool{
    background: rgb(231, 133, 133);
}
.bont{
    margin-left: auto;
}
.ccen{
    justify-content:center
}
.imom{
    color: honeydew;
    justify-content:center
}
