* {
    margin: 0;
    padding: 0;
}
.flex{
    display:flex;
}
.tab{
    list-style:none;
    margin:2.2vh  0 0 0;

}
.ots{
    margin:0 0 0 3vw;
}
.logo{
    margin:2vh 0 0 0;
    padding:0;
    height: 3.8vh;
    width: 4.6vw;


}
.nel{
    height: 25vh;
    width: 25vw;
    margin-left: 3vw;
}
.perv{
    margin-top: 15vh;
}
.por{
    margin-top: 7vh;
}
.button{
    margin-top:7vh;
    height: 7vh;
    width: 11vw;
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
body{
    background: rgb(0, 0, 0);
    margin-left: calc(50% - 50vw);
    font-family: "Calibri";
} 
main{
    
    background-position: center;
    margin: 0;
    padding: 0;
}
.raz{
    justify-content:space-between;
    
}
.nah{
    background: rgb(0, 0, 0);
    justify-content:space-between;

}
.hei{
    height: 92vh;
}
.mar{
    margin: 0 13vw 0 13vw;

}

header{
    background: rgb(0, 0, 0);
    height: 8vh;
}
.font{
    font-size: 30pt;
}
.medfont{
    font-size: 20pt;
}
a {
    color: #6f6f6f;;
    text-decoration:none;
    
}
.xm{
    height: 14vh;
    background:rgb(199, 196, 196);
    
    

}
.bola{
    background-image: url(https://media.discordapp.net/attachments/903377231655608390/910130974359191642/unknown.png?width=1440&height=617);
    background-size: cover;
}
a:hover {
  color: tomato;
}
h1{
    color: white;
}
h2{
    color: rgb(255, 255, 255);
}
.fog{
    font-size: 15pt;
}
p{
    color: rgb(255, 255, 255);
}
.tema{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.form {
    
    width: 15vw;
    border-radius: 5px 5px 0 0;
    background: white;
    height: 33vh;
    padding: 1vw;
}
.novbut{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0,0,0, 0);
	color: white;
	font-size: 20px;
	margin: 0;
    padding-left: 4.5vw;
    

}
label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin: 15px;
  }
  input{
  font: 1em sans-serif;
  width: 200px;
  box-sizing: border-box;
  height: 7px;
  border: 1px solid rgb(255, 255, 255);
  border-bottom-color: rgb(0, 0, 0); 
  border-bottom-style: 3px solid;
}
.heka{
    margin-bottom: 19vh;
  }
.nowotc{
    margin-top: 15vh;
}
.tcol{
    color: tomato;

}
.batb{
    margin: 0;
    border: 0px;
	border-radius: 0 0 5px 5px;
	background-color: rgb(231, 133, 133);
	height:4.5vh;
	color: white;
    width: 17vw;
}
.tap{
width: 20px;
height:10px;
background:black;
margin-bottom: 1vh;
}

.popit{
    display: flex;
    flex-direction: column;
}
.back{
    background: white;
    height: 70vh;
}
.romi{
    height: 50vh;
}
.stolb{
    flex-direction:row;
    margin-left: 10vw;
    
}

}
.nnn{
    display:flex;
    flex-direction:row;
}
.pazm{
    width: 100px;
    height: 100px;
    margin-left: 20vw;
}
.ram{
    width: 10vw;
    height: 15vh;
}
.icon{
    color:gray;
    font-size: 300%;
}
.cen{
    display: flex;
    flex-direction:column;
    background: white;
}
.stro{
    margin: 0 0 10px 0;
}
.tac{
    margin: 0 13vw 0 13vw;
    justify-content:space-between;
}
.sherina{
    width: 50vw;
}
.novbot{
    width: 5vw;
    height: 11vh;
    margin-bottom: 2vh;
    border: rgba(0, 0, 0, 0);
    background: rgb(36, 36, 36);
    cursor: pointer;
    margin-right: 3vw;
    border-radius: 3px;
    

}
.cweti{
    color: rgb(92, 92, 92);
}
.kol{
    width: 7vw;
    height: 5vh;
    margin-bottom: 2vh;
    border: rgba(0, 0, 0, 0);
    background: rgb(231, 133, 133);
    cursor: pointer;
    margin-right: 3vw;
    border-radius: 3px;
    color: white;
}
    
.nado{
    padding-top: 10vh;
    height: 50vh;
}
.ohen{
    width: 45vw;
}
.dla{
    margin-bottom: 3vh;
    color: rgb(100, 97, 97);
}
.nan{
    margin-bottom: 5vh;
    color: #000;
}
h3{
    color:white;
}
.col{
    width: 7vw;
    height: 7vh;
}
.mmm{
    margin: 4vh 0 4vh 4vh;
}
.black{
    color: rgb(32, 32, 32);
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.ata{
    margin-left: 2vw;
}
.awe{
    text-align: center;
    
}
.ave{
    margin-bottom: 3vh;
    color: black;
}
.newbe{
    color: rgb(32, 32, 32);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 15pt;

}
.yoy{
    padding-bottom: 5vh;

}
.tot{
    padding-top: 5vh;
}
.one{
    color: rgb(32, 32, 32);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 10pt;
}
.cec{
    display: flex;
    flex-direction:column;

}
.bab{
background: rgb(255, 255, 255);
height: 70vh;
}
.pro{
    border: 1 px solid gray;
}
.byy{
    background: white;
    margin-top: 3px;
    margin-bottom: 3px;
}
.moo{
    background: black;
    height: 6vh;
    width: 13vw;
    margin-top: 3px;
    margin-bottom: 3px;
}
.kyy{
    
    text-align: center;

}
.rar{
    height: 45vh;
}
.mblack{
    color: rgb(32, 32, 32);
    
    text-align: center;
    margin: auto;
}
.dli{
    margin: auto;
}
.goo{
    height: 5vh;
    width: 3vw;
    border-radius: 100px;
}
.boo{
    width: 15vw;
    background: rgb(221, 221, 221);
    border-radius: 3px;
    margin: 2vh;
}
.voe{
    justify-content:space-between;
    flex-direction: row;
}
.fend{
    margin-left: 3vw;
}
.otto{
    margin-bottom: 3vh;
}
.bomo{
    background-image: url(https://media.discordapp.net/attachments/903377231655608390/910131148888367134/unknown.png?width=881&height=205);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.nood{
    text-align: center;
    margin: auto;
    padding-top: 2vh;
}
.pool{
    background: rgb(231, 133, 133);
}
.bont{
    margin-left: auto;
}
.ccen{
    justify-content:center
}
.imom{
    color: honeydew;
    justify-content:center
}